<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 로그 패턴 색상 적용 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <!-- 콘솔 로그 패턴 설정 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSSS}] %clr(${PID:-}){magenta} [%thread] %clr(%5level) %clr(%logger){cyan} %msg%n"/>

    <!-- 콘솔 로그 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <appender name="CONSOLE-INFO" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <!-- local 프로파일에 대한 로그 설정 -->
    <springProfile name="local">
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>

        <!-- kr.co.woojjam 로그 설정 -->
        <logger name="kr.co.woojjam" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <!-- Spring Web 로그 설정 -->
        <logger name="org.springframework.web" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <!-- Spring Security 로그 설정 -->
        <logger name="org.springframework.security" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <!-- 하이버네이트 SQL 쿼리 -->
        <logger name="org.hibernate.SQL" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <!-- 트랜잭션 관련 -->
        <logger name="org.springframework.transaction" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <logger name="org.springframework.orm.jpa.JpaTransactionManager" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

</configuration>
